@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #3167f3;
  --primaryLight: #3167f326;
  --primaryDark: #1e3c8a;
  --red: #EE3E60;
  --redLight: #ef346326;
  --green: #0DA684;
  --greenLight: #E6F6F2;
  --border: 1px solid #edf2f9;
  --white: #FFFFFF;
  --gray: #ccc;
}

.animate{
  transition: all 0.3s ease-in-out;
    transform: translateY(2.5rem);
    opacity: 0;
}
.animate.show{
  transform: translateY(0);
  opacity: 1;
}