*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  transition: all ease 0.25s;
}
:root {
  --primary: #3167f3;
  --primaryLight:#3167f326;
  --bg: #F9FBFD;
  --dangerRed: #EE3E60;
  --dangerRedLight:#ef346326;
  --green:#0DA684;
  --greenLight:#E6F6F2;
  --border:1px solid #edf2f9;
  --btnBg:#f4f6f9;
  --btnHoverBg:#cfd1d4;
  --placeholderText:#96A0B5;
  --signInBoxShadow:0 2px 2px rgba(61, 71, 81, 0.05);
  --boxShadow:0 0 0.75rem rgba(61, 71, 81, 0.05);
  --tableBoxShadow:0 0.5rem 0.75rem rgba(0, 0, 0, 0.075);
  --white:#FFFFFF;
  --black:#0F111A;
  --headingBlack:#25282D;
  --tableHeadBg:var(--btnBg);
  --tableBg:var(--white);
  --tableText:var(--headingBlack);
  --tableEvenRowBg:var(--bg)
}

.flex{
  display: flex;
}
.flexColumn{
  flex-direction: column;
}
.justifyCenter{
  justify-content: center;
}
.justifyLeft{
  justify-content: left;
}
.justifyRight{
  justify-content: right;
}
.spaceBetween{
  justify-content: space-between;
}
.spaceEvenly{
  justify-content: space-evenly;
}
.alignCenter{
  align-items: center;
}
.alignDown{
  align-items: end;
}