.dashboardContainer{
    height: 90vh;
    width: 100%;
    padding:1rem;
    background: url("/assets/images/globe.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--dashboardBg);
}
.dashboardContainer h2{
    color: var(--white);
    font-size: 2.5rem;
    max-height: 20%;
}
h2 span{
    color: var(--primaryColor);
    font-size: 3.5rem;
}

.dashboardContainer .daysContainer{
    max-height: 80%;
    padding: 2.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
    gap:1rem;
}
.day{
    background-color: var(--bgBlackColor);
    width: 100%;
    padding:0.75rem;
    border: solid 0.075rem var(--borderColor);
    border-radius: 0.25rem;
}
.dayTitleContainer{
    color: var(--tableHeadBg);
}
.balance{
    margin: 0.5rem 0;
}
.totalsContainer .collected{
    color: var(--primaryColor);
    font-size: 2.5rem;
}
.totalsContainer span{
    color: var(--borderColor);
    font-size: 2rem;
    margin: 0 0.25rem;
}
.totalsContainer .return{
    color: var(--accentColor);
}

@media screen and (max-width:480px) {
    .dashboardContainer{
        height: 92dvh;
        padding-bottom: 0;
    }
    .dashboardContainer h2{
        font-size: 1.25rem;
        padding-bottom: 0.5rem;
    }
    h2 span{
        font-size: 2.25rem;
    }
    .dashboardContainer .daysContainer{
        padding: 1rem 0;
        padding-top:0.75rem;
        padding-bottom: 0;
        grid-template-columns: 1fr;
        height: 100%;
    }
}