header{
    height: 10vh;
    width: 100%;
    padding:0 2.5rem;
    background-color: var(--bg);
}
a img{
    width: 3rem;
}
a h1{
    color: var(--primary);
}
.userOptions a{
    padding: 0.5rem 0.75rem;
    border-radius: 0.35rem;
    margin:0 0.5rem;
}
.userOptions a:first-child{
    color: var(--primary);
    border: 1px solid var(--primary)
}
.userOptions a:first-child:hover{
    color: var(--white);
    background-color: var(--primary);
}
.userOptions a:nth-child(2){
    color: var(--dangerRed);
    background-color: var(--dangerRedLight);
}
.userOptions a:nth-child(2):hover{
    color: var(--white);
    background-color: var(--dangerRed);
}
.userOptions .active{
    color: var(--white) !important;
    background-color: var(--primary);
}
.admin{
    color: var(--white);
    background: linear-gradient(90deg, var(--primary), var(--dangerRed));
}

@media(max-width:768px){
    header{
        height: 8svh;
        padding:0 1rem;
    }
    a img{
        width: 2rem;
    }
    a h1{
        font-size: 1.5rem;
    }
    .userOptions{
        overflow-x: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .userOptions a{
        padding: 0.35rem 0.5rem;
    }
}