header{
    height: 10vh;
    width: 100%;
    padding:0 2.5rem;
    background-color: var(--backgroundColor);
}
a img{
    width: 3rem;
}
a h1{
    color: var(--accentColor);
}
.userOptions a{
    background-color: var(--accentColor);
    padding: 0.5rem 0.75rem;
    border-radius: 0.35rem;
    margin:0 0.5rem;
}
.userOptions a:first-child{
    color: var(--primaryColor);
    background-color: var(--primaryLightColor);
}
.userOptions a:nth-child(2){
    color: var(--accentColor);
    background-color: var(--accentLightColor);
}
.userOptions a:nth-child(2):hover{
    color: var(--white);
    background-color: var(--accentColor);
}
.admin{
    color: var(--white);
    background-color: var(--primaryColor) !important;
}

@media(max-width:480px){
    header{
        padding:0 1rem;
        height: 8svh;
    }
    a img{
        width: 2rem;
    }
    a h1{
        font-size: 1.5rem;
    }
    .userOptions{
        overflow-x: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .userOptions a{
        padding: 0.35rem 0.5rem;
    }
    .userOptions .active{
        color: var(--white) !important;
        background-color: var(--primaryColor) !important;
    }
}