.loader {
    display: block;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    animation: spin 1s linear infinite;
    border: 0.45rem solid var(--primaryLightColor);
    border-top: 0.45rem solid var(--primaryColor);
}

.navbar, .table{
    margin: 0 auto;
}
.days{
    margin:auto;
}
.dashboard{
    margin: 25vh auto 0;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
