.mainContainer{
    width: 100%;
}
.mainContainer h3{
    color: var(--textColor);
    margin: 1rem 0;
    text-align: center;
}
.mainContainer .tableContainer{
    overflow-x: auto;
    &::-webkit-scrollbar{
        display: none;
    }
}
.tableContainer table thead{
    position: sticky;
    top:0;
}
.tableContainer table thead tr th{
    padding:0.2rem 0;
    position: sticky;
    top:0;
    z-index: 2;
    min-width: 6rem;
    color: var(--accentColor) !important;
}
.tableContainer table thead tr th, .tableContainer table tbody tr td{
    &:nth-child(even){
        background-color: var(--secondaryColor);
        color: var(--backgroundColor);
    }
    &:nth-child(odd){
        background-color: var(--backgroundColor);
        color: var(--secondaryColor);
    }
}
.tableContainer table tbody tr{
    height: 35px;
}
.tableContainer table .name{
    width: max-content;
}
.tableContainer table{
    text-align: center;
}
.tableContainer table tbody tr .editTd{
    cursor: pointer;
}
.tableContainer table tbody tr .cardNumber{
    color: var(--accentColor);
}
.mainContainer .editContainer{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--backgroundColor);
    box-shadow: 0 0 1rem var(--glassBoxShadowColor);
    padding:0.5rem 1rem;
}
.editContainer > div{
    padding: 0.5rem 0;
}
.editContainer .weeksInputContainer{
    height: 100%;
    justify-content: space-around;
}
.weeksInputContainer input{
    width: 50%;
    padding: 0.5rem;
    outline: none;
    border: 0.075rem solid var(--glassBoxShadowColor);
}
.weeksInputContainer label, .weeksInputContainer input{
    margin:0.5rem 0;
}
.noUsersFoundContainer{
    padding:2.5rem;
    padding-top: 0;
    height: 62vh;
    width: 100%;
    background-color: var(--white);
}
.noUsersFoundContainer .noUsersFoundImage{
    display: block;
    width: 44%;
    margin: 0 auto;
    height: 100%;
}
.noUsersFoundContainer p{
    text-align: center;
    &:first-child{
        color: var(--accentColor);
        margin-bottom: 0.5rem;
    }
}
@media screen and (max-width:480px) {
    .noUsersFoundContainer{
        padding:0rem 0.5rem;
        height: 54dvh;
    }
    .noUsersFoundContainer .noUsersFoundImage{
        width: 100%;
        height: 75%;
    }
}