.signPageContainer {
    height: 90vh;
    width: 100%;
    background-color: var(--bg);
}
.signCardContainer{
    height: 95%;
    min-width: 27.5rem;
    box-shadow: var(--signInBoxShadow);
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--white);
    margin-bottom: 1rem;
}
.signMessageContainer{
    height: 45%;
    width: 100%;
    padding:1rem 0;
    gap:0.5rem;
    background-color: var(--black);
}
.signMessageContainer img{
    width: 10rem;
    margin-bottom: 1rem;
}
.signMessageContainer h3, .signMessageContainer h2{
    color: var(--white);
}
.signMessageContainer p{
    color: var(--placeholderText);
}

.signFormContainer{
    height: 45%;
    width: 100%;
    padding: 2.5rem;
    padding-bottom: 0.5rem;
}

.signFormContainer input {
    width: 100%;
    outline: none;
    padding: 0.75rem 1rem;
    font-weight:600;
    background-color: var(--white);
    border-radius: 0.5rem;
    border: var(--border);
    &::placeholder{
        color: var(--placeholderText);
    }
}
.signFormContainer a{
    margin-left: auto;
    color: var(--placeholderText);
}
.signPageContainer .signFormContainer button {
    width: 50%;
    padding: 0.75rem;
    margin: 0 auto;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
}
.author{
    height: 10%;
}
.author p{
    display: block;
    margin: auto;
    color: var(--placeholderText);
    text-align: center;
}
.author p  a{
    color: var(--dangerRed);
    cursor: pointer;
    background-color: var(--dangerRedLight);
    padding:0.1rem 0.25rem;
    border-radius: 0.3rem;
}
.author p a:hover{
    color: var(--white);
    background-color: var(--dangerRed);
}

@media screen and (max-width:768px) {
    .signPageContainer{
        height: 92svh;
    }
    .signCardContainer{
        min-width: 95vw;
        height: 90%;
        margin-bottom: 2rem;
    }
    .signMessageContainer{
        height: 50%;
    }
    .signFormContainer{
        height: 40%;
        padding: 1.5rem;
    }
}