.loaderContainer{
    height: 70vh;
    width: 100%;
    background-color: var(--backgroundColor);
}
.pageNumsContainer{
    width: 100%;
    background-color: var(--backgroundColor);
    padding: 0.25rem 0;
    overflow-x: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}
.pageNumsContainer button{
    background-color: var(--textColor);
    color: var(--borderColor);
    border-radius: 0.25rem;
    border: none;
    padding:0.2rem 0.4rem;
    margin: 0 0.5rem;
    cursor: pointer;
}
.pageNumsContainer .active{
    background-color: var(--btnsColor);
    color: var(--white);
}
.tableContainer {
    padding:0 0.5rem;
    overflow: scroll;
    background-color: var(--backgroundColor);
    &::-webkit-scrollbar {
        display: none;
    }
}
.tableContainer table{
    background-color: var(--white);
    border : solid 0.01rem var(--borderColor);
    border-collapse: collapse;
}
.tableContainer table thead{
    background-color: var(--tableHeadBg);
}
.tableContainer table thead tr th{
    color: var(--tableHeadText);
}
.tableContainer table thead tr th, .tableContainer table tbody tr td{
    padding: 0.5rem;
    white-space: nowrap;
    min-width: 4rem;
}
.tableContainer table tr{
    border-bottom:0.01rem solid var(--borderColor);
    &:last-child{
        border-bottom: unset;
    }
}
.tableContainer table tbody .name {
    width: max-content;
    white-space: nowrap;
    text-align: left;
}

.tableContainer table {
    text-align: center;
}

.tableContainer table tbody tr .editTd {
    cursor: pointer;
}
.totalsContainer{
    background-color: var(--btnsColor);
    color: var(--white);
}

.editContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--backgroundColor);
    box-shadow: var(--boxShadow);
    padding: 0.5rem 1rem;
}

.editContainer>div {
    padding: 0.5rem 0;
}

.editContainer .weeksInputContainer {
    height: 100%;
    justify-content: space-around;
}

.weeksInputContainer input {
    width: 50%;
    padding: 0.5rem;
    outline: none;
    border: 0.075rem solid var(--borderColor);
}

.weeksInputContainer label,
.weeksInputContainer input {
    margin: 0.5rem 0;
}


@media (max-width:480px) {
    .editContainer {
        width: 70%;
    }
}